.content {
  display: flex;
  flex-direction: column;
  background-color: $white;
  border-radius: 1rem;
  justify-content: flex-start;
  align-items: center;

  .menus {
    display: flex;
    flex-direction: column;
    max-height: 50rem;
    padding: 0.5rem;
    overflow-y: auto;
    width: 20rem;
    height: 25rem;

    @include respond-to('small') {
      padding: 2rem;
      width: 26rem;
      height: 30rem;
    }

    @include respond-to('medium') {
      width: 48rem;
      height: 35rem;
    }

    @include respond-to('large') {
      width: 60rem;
      height: 40rem;
    }

    @include respond-to('x-large') {
      width: 70rem;
      height: 48rem;
    }
  }
}

.toggle {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem;

  @include respond-to('small') {
    margin: 1rem;
  }
}

.loginContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0.5rem 0 0.5rem;

  .loginHeader {
    color: black;
    padding-bottom: 1rem;
  }

  .md-input-container {
    width: 100%;
  }
}

.md-alert__message {
  max-width: 100%;
}

.md-modal {
  height: auto;
}