.menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 0.75rem;
  background-color: #F7F7F7;
  margin: 0.25rem;
  width: 18.5rem;
  height: 1.75rem;
  padding: 0.5rem 0.5rem 0.5rem 0.25rem;

  @include respond-to('small') {
    margin: 1rem 0.5rem 0 0;
    width: 25rem;
    height: 2.5rem;
    padding: 0.75rem;
  }

  @include respond-to('medium') {
    margin: 0.5rem;
    width: 43rem;
    height: 4rem;
    padding: 1rem;
  }

  @include respond-to('large') {
    width: 55rem;
  }

  @include respond-to('x-large') {
    width: 65rem;
  }
}

.menuContent {
  display: flex;
  width: 30rem;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.5rem;
  width: 90%;
  
  .info {
    display: flex;
    flex-direction: column;
  
    .displayName {
      font-size: 1rem;
      width: 9rem;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      @include respond-to('small') {
        font-size: 1.25rem;
        width: 15rem;
      }

      @include respond-to('medium') {
        font-size: 1.75rem;
        width: 20rem;
      }
    }
  
    .titleJob {
      padding-top: 0.25rem;
      line-height: 1.125rem;
      font-size: 0.75rem;
      color: #545454;
      width: 9rem;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      @include respond-to('small') {
        font-size: 0.85rem;
        width: 12rem;
      }

      @include respond-to('medium') {
        font-size: 1rem;
        width: 15rem;
      }
    }
  }

  .md-event-overlay__children {
    width: 10rem;

    .md-list-item {
      display: flex;
      width: auto;
      justify-content: center;
      align-items: center;
    }
  }

  .callButton {
    width: 10rem;
    height: 2.5rem;

    .buttonTitle {
      font-size: 1.125rem;
    }
  }

}